@font-face {
    font-family: OpenSansCondensedLight;
    src: url("../fonts/OpenSans-CondLight.ttf");
}

body {
    background: #333 repeating-linear-gradient(45deg, #f6f6f6 0, #f6f6f6 5%, #fff 0, #fff 50%) 0 / 20px 20px;
}
h1 {
    color: #333;
    font-family: OpenSansCondensedLight;
    font-size: 30pt;
    text-align: center;
    margin-bottom: 40px;
}

h1:hover {
    font-size: 30pt;
}

h1:hover:before,
h1:hover:after {
    font-style: italic;
    font-size: 17pt;
}

h1:hover:before {
    content: "some ";
}

h1:hover:after {
    content: " by NobodyRocks";
}
.container {
 width: 320px;
 height: 320px;
 margin-left: calc(50% - 160px);
}

button {
    width: 100px;
    height: 100px;
    color: #ffffff;
    background-color: #3498db;
    font-family: OpenSansCondensedLight;
    text-decoration: none;
    font-size: 20pt;
    border: 2px #ffffff solid;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.highlight:hover{
   background-color: white;
    color: #3498db;
}


.fade:hover{
    opacity: 0;
}

.boom:hover{
    transform: scale(2.2);
    -webkit-transform: scale(2.2);
    opacity: 0;
}

.focus:hover{
    border-width: 20px;
}

.rotate:hover{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.knit:hover{
    height: 0;
}

.shrink:hover{
    transform: scale(0);
    -webkit-transform: scale(0);
}
.squeeze:hover{
    transform: scale(1.5, 0.0);
    -webkit-transform: scale(1.5, 0.0);
}
.deform:hover{
    -webkit-transform: skew(45deg, 45deg);
    transform: skew(45deg, 45deg);
}

/*Inner shadow image styles*/

img{
    margin-left: calc(50% - 250px);
    -webkit-box-shadow: inset 0 0  20px black;
    box-shadow: inset 0 0 20px 3px black;
}
#innerShadowBody{
    background: none;
}
/*Text with margins and paddings*/
#first{
    background-color: #569099;
    width: 340px;
    margin: auto;
}
#first p{
    font-family: sans-serif;
    color: white;
    text-align: left;
    font-size: 25pt;
    font-weight: 600;
    padding: 10px 10px;
}
#second{
    background-color: #cad8d0;
    width: 340px;
    margin: auto;
}
#second p{
    font-family: sans-serif;
    margin: -10px 10px 0 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
