<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="header">
        <div class="right-align-view">
            <p class="header__text"><a href="#">Help Center</a></p>
            <p class="header__text"><a href="#"> Our Support</a></p>
            <p class=" user-tab"><img src="../images/face.jpg" align="absmiddle"> Jonn Doe</p>
        </div>
    </div>

    <div class="main">
        <ul class="nav">
            <li class="nav__item"><a href="#"><p class="add-button"> ADD A BOOK</p></a></li>
            <li class="nav__item"><ul class="nav-origin">
                <li><a href="#">Now Reading</a></li>
                <li><a href="#">Browse</a></li>
                <li><a href="#">Buy Books</a></li>
                <li><a href="#">Favorite Books</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">History</a></li>
            </ul>
            </li>
            <li class="nav__item">
                <ul class="nav-second">
                    <li><a href="#">Must Read Titles</a></li>
                    <li><a href="#">Best of List</a></li>
                    <li><a href="#">Classic Novels</a></li>
                    <li><a href="#">Non Fiction</a></li>
                </ul>
            </li>
            <li class="nav__item">
                <ul class="pre-ordered">
                    <li><p class="clock"></p><p>You added <span>Fight Club</span>  by <span>Chuck Palaniuk</span> to your <span>Must Read Titles</span></p></li>
                    <li><p class="clock"></p><p>You added <span>The Trial</span>  by <span>Franz Kafka</span> to your <span>Must Read Titles</span></p></li>
                </ul>
            </li>
        </ul>

        <div class="section">
            <h1>Browse Available Books</h1>
            <div class="menu-of-titles">
                <div class="title"><a href="#">All Books</a></div>
                <div class="title"><a href="#">Most Recent</a></div>
                <div class="title"><a href="#">Most Popular</a></div>
                <div class="title"><a href="#">Free Books</a></div>
                <div class="search">
                    <input type="text" placeholder="  Enter Keywords">
                    <span>&#xf002;</span>
                </div>
            </div>

            <div class="books-content">
                <div class="book"><img src="../images/book1.png">
                    <p>Jewels of Nizam</p>
                    <p>by Geeta Devi</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf005; &#xf005;</p>
                </div>
                <div class="book"><img src="../images/book2.png">
                    <p>Cakes & Bakes</p>
                    <p>by Sanjeev Kapoor</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf005; &#xf005;</p>
                </div>
                <div class="book"><img src="../images/book3.png">
                    <p>Jamie’s Kitchen</p>
                    <p>by Jamie Oliver</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf005; &#xf123;</p>
                </div>
                <div class="book"><img src="../images/book4.png">
                    <p>Inexpensive Family Meals</p>
                    <p>by Simon Holst</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf005; &#xf006;</p>
                </div>
                <div class="book"><img src="../images/book5.png">
                    <p>Paleo Slow Cooking</p>
                    <p>by Chrissy Gower</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf005; &#xf123;</p>
                </div>
                <div class="book"><img src="../images/book6.png">
                    <p>by Tobie Puttock</p>
                    <p>by Sanjeev Kapoor</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf005; &#xf006;</p>
                </div>
                <div class="book"><img src="../images/book7.png">
                    <p>Suneeta Vaswani</p>
                    <p>by Geeta Devi</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf005; &#xf005;</p>
                </div>
                <div class="book"><img src="../images/book8.png">
                    <p>Jamie Does</p>
                    <p>by Jamie Oliver</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf005; &#xf005;</p>
                </div>
                <div class="book"><img src="../images/book9.png">
                    <p>Jamie’s italy</p>
                    <p>by Jamie Oliver</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf005; &#xf006;</p>
                </div>
                <div class="book"><img src="../images/book10.png">
                    <p>Vegetables Cookbook</p>
                    <p>by Matthew Biggs</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf123; &#xf005;</p>
                </div>
                <div class="book"><img src="../images/book6.png">
                    <p>Cakes & Bakes</p>
                    <p>by Sanjeev Kapoor</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf005; &#xf006;</p>
                </div>
                <div class="book"><img src="../images/book6.png">
                    <p>Cakes & Bakes</p>
                    <p>by Sanjeev Kapoor</p>
                    <p>&#xf005; &#xf005; &#xf005; &#xf005; &#xf006;</p>
                </div>

            </div>

        </div>
    </div>

    <div class="footer">
            <a href="#"><div class="help-and-configs">&#xf059;</div></a>
            <a href="#"><div class="help-and-configs">&#xf013;</div></a>
    </div>

</body>

</html>