#frame{
    margin: auto;
    width: 300px;
    height: 200px;
    border: 2px solid #cccccc;
}
.circle {
    margin-left: calc(50% - 75px);
    margin-top: 25px;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background-image: radial-gradient(#00bc9e, #00bc9e);
}

.btn {
    width: 150px;
    height: 40px;
    background: #575ce8;
    background-image: -webkit-linear-gradient(top, #888fcb 0%, #7f86d1 20%, #575ce8 50%, #7f86d1 80%, #7593df 90%, #888fcb 100%);
    background-image: linear-gradient(top, #888fcb 0%, #7f86d1 10%, #575ce8 50%, #7f86d1 90%, #888fcb 100%);
    border-style:  double;
    border-radius: 10px;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 15pt;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
}

.btn:hover {
    box-shadow: 0 0 10px 5px #cbf1f5;
    -webkit-box-shadow: 0 0 10px 5px #cbf1f5;
}

/*Adaptive text*/
p{
    width: 100%;
    margin: auto;
    background-color: #cad8d0;
    font-family: serif;
    font-size: 15pt;
    padding: 12px;
}

@media screen and (max-device-width: 500px){
    p{
        font-size: 60pt;
        padding: 20px;
    }

}

/*Page loader*/
.cssload-container{
    display: block;
    margin:49px auto;
    width:97px;
}

.cssload-container *, .cssload-container *:before, .cssload-container *:after {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cssload-circle {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transition: all 230ms ease-in-out;
    -o-transition: all 230ms ease-in-out;
    -ms-transition: all 230ms ease-in-out;
    -webkit-transition: all 230ms ease-in-out;
    -moz-transition: all 230ms ease-in-out;
}
.cssload-circle:nth-child(1) {
    z-index: 2;
    background: rgb(231,76,60);
    animation-name: cssload-explode;
    -o-animation-name: cssload-explode;
    -ms-animation-name: cssload-explode;
    -webkit-animation-name: cssload-explode;
    -moz-animation-name: cssload-explode;
    animation-duration: 1.15s;
    -o-animation-duration: 1.15s;
    -ms-animation-duration: 1.15s;
    -webkit-animation-duration: 1.15s;
    -moz-animation-duration: 1.15s;
    animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
}
.cssload-circle:nth-child(2) {
    background: rgb(52,73,94);
    animation-name: cssload-explode;
    -o-animation-name: cssload-explode;
    -ms-animation-name: cssload-explode;
    -webkit-animation-name: cssload-explode;
    -moz-animation-name: cssload-explode;
    animation-duration: 1.15s;
    -o-animation-duration: 1.15s;
    -ms-animation-duration: 1.15s;
    -webkit-animation-duration: 1.15s;
    -moz-animation-duration: 1.15s;
    animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-delay: 0.58s;
    -o-animation-delay: 0.58s;
    -ms-animation-delay: 0.58s;
    -webkit-animation-delay: 0.58s;
    -moz-animation-delay: 0.58s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
}



@keyframes cssload-explode {
    0% {
        width: 0;
        height: 0;
        z-index: 1;
    }
    50% {
        width: 10em;
        height: 10em;
        z-index: 1;
    }
    100% {
        display: none;
    }
}

@-o-keyframes cssload-explode {
    0% {
        width: 0;
        height: 0;
        z-index: 1;
    }
    50% {
        width: 10em;
        height: 10em;
        z-index: 1;
    }
    100% {
        display: none;
    }
}

@-ms-keyframes cssload-explode {
    0% {
        width: 0;
        height: 0;
        z-index: 1;
    }
    50% {
        width: 10em;
        height: 10em;
        z-index: 1;
    }
    100% {
        display: none;
    }
}

@-webkit-keyframes cssload-explode {
    0% {
        width: 0;
        height: 0;
        z-index: 1;
    }
    50% {
        width: 10em;
        height: 10em;
        z-index: 1;
    }
    100% {
        display: none;
    }
}

@-moz-keyframes cssload-explode {
    0% {
        width: 0;
        height: 0;
        z-index: 1;
    }
    50% {
        width: 10em;
        height: 10em;
        z-index: 1;
    }
    100% {
        display: none;
    }
}

/*Bouncing circle between 2 blocks*/
.containerBlocks{
    margin-top: 20%;
    margin-left: calc(50% - 80px);
}
.blockOne{
    width: 50px;
    height: 50px;
    background-color: firebrick;
    margin: 10px auto;
    display: inline-block;
}
.blockTwo{
    width: 50px;
    height: 50px;
    background-color: firebrick;
    margin: 10px auto;
    display: inline-block;
}
.bouncingCircle{
    width: 50px;
    height: 50px;
    background-color: firebrick;
    margin: 10px auto;
    border-radius: 25px;
    display: inline-block;
    animation-name: bounceCircleBounce;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
}
@keyframes bounceCircleBounce {
    0%{
        transform: translate(0,0px);
        height: 40px;
        border-radius: 25px/20px;
    }

    100%{
        transform: translate(0,-60px);
    }
}

/*Gradient Circle transform*/

.circleGradient{
    margin-left: calc(50% - 50px);
    margin-top: 25px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: radial-gradient(#FF8A22, #E2D741);
    background: -webkit-radial-gradient(#FF8A22,#E2D741);
    animation-name: lastAnimation;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-direction: alternate-reverse;

}
@keyframes lastAnimation {
    15%{
       border-radius: 0px;
    }
    30%{
        background: radial-gradient(#E2D741, #FF8A22);
        background: -webkit-radial-gradient(#E2D741,#FF8A22);
    }
    45%{
        height: 50px;
        width: 50px;
        transform: skew(30deg, 40deg);
    }
    60%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    75%{
        background: radial-gradient(#FFFF10, #E2E23E);
        background: -webkit-radial-gradient(#FFFF10, #E2E23E);
    }
    100%{
        border-radius: 50px;
        background: yellow;
    }

}



